@import url("colors.css");

* {
  font-family: Material Design Icons, JetBrainsMono Nerd Font, Iosevka Nerd Font;
  font-size: 14px;
  border-radius: 21px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  border: none;
}

window#waybar {
  background: transparent;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .6);
}

window#waybar.hidden {
}

#window {
  color: #81A1C1;
}
.modules-left {
    padding:0px;
    margin: 0px 0px 0px 10px;
    border-radius:55px;
    background: rgba(17, 17, 27, 0.4);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    border: 1.5px solid @accent_color;
}
.modules-center {
    padding: 0px;
    margin:0px 0px 0px 0px;
    border-radius:55px;
    background: rgba(17, 17, 27, 0.4);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    border: 1.5px solid @accent_color;
}
.modules-right {
    padding: 0px;
    margin: 0px 10px 0px 0px;
    border-radius:55px;
    background: rgba(17, 17, 27, 0.4);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
    border: 1.5px solid @accent_color;
}

#custom-recorder,
#custom-menumic,
#custom-menu,
#custom-cava,
#custom-notification,
#mpris,
#custom-updates,
#custom-ibus,
#clock,
#cpu,
#memory,
#temperature,
#custom-gpu-power,
#custom-cpu-power,
#language,
#custom-media,
#tray,
#mode,
#custom-lock,
#workspaces,
#custom-powermenu,
#taskbar,
#backlight

#taskbar {
  border-radius: 8px 8px 8px 8px;
  border: none;
	background: none;
	box-shadow: none;
}
#custom-notification {
  border-radius: 8px 8px 8px 8px;
  border: none;
	background: none;
	box-shadow: none;
}
#taskbar button {
  border-radius: 8px 8px 8px 8px;
  border: none;
	background: none;
	box-shadow: none;
}
#taskbar button:hover {
  border-radius: 8px 8px 8px 8px;
  border: transparent;
	background: transparent;
	box-shadow: none;
}
#temperature.cpu {
  color: @accent_color;
  border-radius: 8px 8px 8px 8px;
  padding: 0px;
}
#custom-gpu-power {
  color: @accent_color;
  border-radius: 8px 8px 8px 8px;
  padding: 0px;
}
#custom-cpu-power {
  color: @accent_color;
  border-radius: 8px 8px 8px 8px;
  padding: 0px;
}
#temperature.gpu {
  color: @accent_color;
  border-radius: 8px 8px 8px 8px;
  padding: 0px;
  margin-right: 0px;
}
#mpris {
  color: @accent_color;
  border-radius: 8px 8px 8px 8px;
}
#cpu {
  color: #7ab6f2;
  border-radius: 8px 8px 8px 8px;
}

#memory,#disk {
  color: @accent_color;
  border-radius: 8px 8px 8px 8px;
  padding: 0px;
}


#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@accent_color, 0.4);;
    transition: all .2s ease;
}
#workspaces button:hover {
    color: @accent_color;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @accent_color;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: @accent_color;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @accent_color;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.visible {
    color: @accent_color;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#custom-launcher {
  margin-left: 0px;
  margin-right: 6.5px;

  padding-right: 0px;
  padding-left: 0px;

  font-size: 20px;

  color: @accent_color;

  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 8px 8px 8px 8px;
}

#custom-pacman,
#custom-recorder,
#custom-menumic,
#custom-menu#vol,
#custom-menu,
#custom-cava,
#custom-notification,
#mpris,
#custom-updates,
#workspaces,
#custom-ibus,
#clock,
#cpu,
#temperature,
#memory,
#disk,
#custom-gpu-power,
#custom-cpu-power,
#language,
#battery,
#backlight,
#pulseaudio,
#tray,
#network,
#bluetooth,
#taskbar
{
  
  padding: 0em 2em;

  font-size: 15px;

  padding-left: 7.5px;
  padding-right: 7.5px;

  padding-top: 0px;
  padding-bottom: 0px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 6px;

  font-size: 13px;
}

#custom-pacman {
  color: @accent_color;
  border-radius: 12px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  font-size: 15px;
}
#taskbar {
  border-radius: 8px 8px 8px 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 3px;
}
#custom-cava {
  color: @cava_1;
  border-radius: 12px;
}
#custom-menu {
  color: @accent_color;
  border-radius: 12px;
  margin-left: -8px;
  margin-right: 0px;
  font-size: 15px;
}
#workspaces {
  padding-right: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 8px 8px 8px 8px;
}
#backlight {
  color: @accent_color;
  padding-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  border-radius: 8px 8px 8px 8px;
  margin-left: 0px;
}
#custom-notification {
  padding-right: 8px;
  padding-left: 0px;
  color: @accent_color;
  font-size: 17px;
}
#language {
  color: @accent_color;
  border-radius: 8px 8px 8px 8px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  margin-left: 0px;
  background-color: rgba(17, 17, 27, 0);
}
#custom-launcher {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(17, 17, 27, 0);
}
#custom-powermenu {
  color: #e78284;
  margin-right: 12px;
  border-radius: 50px 50px 50px 50px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 17px;
} 
#bluetooth {
  color: #6194c7;
  padding-left: 10px;
  margin-right: 10px;
  padding-bottom: 0px;
  font-size: 18px;
  border-radius: 0px 0px 0px 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#pulseaudio {
  color: alpha(@accent_color, 0.9);
  padding-left: 15px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(17, 17, 27, 0);
}

#pulseaudio.muted {
  color: rgba(200, 0, 0, 0.8);
  padding-left: 15px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(17, 17, 27, 0);
}

#backlight {
  color: @accent_color;
  padding-right: 15px;
  padding-left: 12px;
  font-size: 21.2px;
  border-radius: 8px 0px 0px 8px;
  margin-right: -2px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(17, 17, 27, 0);
}

#custom-updates {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16.5px;
  color: #00bfe4;
}

#network {
  color: @accent_color;
  border-radius: 0px 8px 8px 0px;
  padding-left: 10px;
  padding-right: 2px;
  font-size: 16px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(17, 17, 27, 0);
}

#network.disconnected {
  color: #fb958b;
  border-radius: 0px 8px 8px 0px;
  padding-left: 10px;
  padding-right: 2px;
  font-size: 16px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#battery {
  color: #8fbcbb;
  border-radius: 0px 8px 8px 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #8fbcbb;
  padding-left: 6px;
  padding-right: 12px;
  font-size: 22px;
}

#battery.charging { 
  font-size: 18px;
  padding-right: 13px;
  padding-left: 4px;
}

#battery.full,
#battery.plugged {
  font-size: 22.5px;
  padding-right: 10px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradient-fill {
    2% { background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.75) 0%, transparent 2%); }
    100% { background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.75) 100%, transparent 100%); }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#custom-lock {
  color: #ecd3a0;
  padding: 0 15px 0 15px;
  margin-left: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#clock {
  color: @accent_color;
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  padding: 0px;
  margin-right: 6px;
  margin-bottom: 0px;
  border-radius: 8px 8px 8px 8px;
  padding-right: 0px;
}


tooltip {
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  background-color: alpha(@accent_color, 0.4);
  border-radius: 21px;
  animation-name: gradient-fill;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: steps(26);
  border: 1.5px solid @accent_color;
}

tooltip label {
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  padding: 5px;
  background-color: rgba(17, 17, 27, 0);
}

label:focus {
  background-color: #242933;
}

menubar, menubutton, .popup, menu, menuitem {
    border: none;
    box-shadow: none;
} 

#tray {
    margin: 0px -8px 0px 6px;
    font-size: 14px;
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Este seletor é o culpado. Vamos forçar transparência nele */
#tray menu decoration {
    box-shadow: none;
    background-color: transparent;
    border-radius: 21px;
    border: none;
}

#tray menu {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px; /* Dê um respiro para a borda não colar no conteúdo */
    padding-bottom: 10px;
    background: alpha(@main_bg_color, 0.95);;
    border: 2px solid @accent_color;
    border-radius: 21px; /* Seu raio personalizado */
    
    /* Garante que a borda preta do sistema não apareça */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5); 
    
    animation-name: fadeIn;
    animation-duration: 350ms;
    animation-timing-function: ease;
}

#tray menu separator {
    margin: 4px 8px;
    border: 2px solid @accent_color; /* Mudei para border-bottom para ser um separador real */
    border-radius: 21px; /* Separadores geralmente são linhas retas ou levemente arredondadas */
}

#tray menu menuitem {
    padding: 6px 10px;
    margin: 2px 4px;
    background: alpha(@accent_color, 0.15); /* Mais sutil, estilo EVO */
    border-radius: 21px; /* Um pouco menor que o menu para encaixar bem */
    color: @text_color;
    border: none; /* Garante sem bordas extras nos itens */
}

#tray menu menuitem:hover {
    background: @accent_color;
    color: @main_bg_color; /* Inverte a cor para contraste estilo PS120 */
    border-radius: 21px;
    box-shadow: 0px 0px 8px alpha(@accent_color, 0.4);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
    border-radius: 21px;
}

#idle_inhibitor {
  color: alpha(@accent_color, 0.7);;
  font-size: 17px;
  border-radius: 8px 8px 8px 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 13px;
  padding-left: 2px;
  margin-right: 8px;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

#idle_inhibitor.activated {
  color: @text_color;
  font-size: 17px;
  border-radius: 8px 8px 8px 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 13px;
  padding-left: 2px;
  margin-right: 8px;
}

#mpris {
  font-weight: bold;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: -5px;
  margin-bottom: 0px;
  font-size:13px
}

#disk,
#language,
#custom-pacman,
#custom-cpu-power,
#custom-gpu-power,
#temperature.cpu,
#temperature.gpu,
#memory,
#temperature,
#cpu {
  font-size: 14.5px;
  margin-top: 0px;
  margin-right: 6px;
  margin-bottom: 0px;
  padding: 3px;
}

#pulseaudio-slider {
  padding: 0px 10px;
  border-radius: 6px;
  min-height: 4px;
  margin: 0px 4px;
}
#pulseaudio-slider slider {
    min-height: 4px;
    min-width: 15px;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 55px;
    background-image: none;
    background-color: transparent;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 70px;
    border-radius: 5px;
    background-color: transparent;
}
#pulseaudio-slider highlight {
    background-color: transparent;
    min-width: 10px;
    border-radius: 21px;
    background-image: linear-gradient(to bottom right,
    @accent_color,  /* Lavender */
    @accent_color,  /* Blue */
    @accent_color,  /* Sapphire */
    @accent_color   /* Sky */
  );
}
#pulseaudio.microphone {
    border-radius: 0px 0px 0px 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
}
#custom-menumic{
    color: @accent_color;
    border-radius: 0px 0px 0px 0px;
    margin-right: -4px;
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 0px;
    font-size: 17px;
}
#custom-bar{
   color: rgba(180, 190, 254, 0.8);
}
#custom-recorder {
  font-size: 18px;
  margin: 0px 10px 0px -10px;
  color:#c9545d;
}


